CDA-FO-EPRESCRIPTION/Exemple/ep-med/ServiceAccueilEPrescription_EXP_1.2.5/ServiceAccueilEPrescription/xsd/serviceaccueilepre/AUX_e_prescr_LIG_EXECUTION_V01_04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:e_prescr_exec="urn:ir:e_prescr_exec" 
    attributeFormDefault="unqualified" elementFormDefault="qualified" 
    targetNamespace="urn:ir:e_prescr_exec">
    
    <xsd:annotation>
        <xsd:appinfo>
            <Build xmlns="urn:camelia:info" Generation="3" Host="P107501A239573S" Location="D:/IBM/rationalsdp7.0.5/workspace" Model="EXECEPRESCR" Project="P2" Repository="X:\SRVDAIT\Patrimoine" Root="false" Time="20180424_130320" />
            <Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20180424_130321" Version="01.00" />
        </xsd:appinfo>
    </xsd:annotation> 
    
    
    <xsd:complexType name="EXECUTION_EXECEPRESCR">
        <xsd:sequence>
        
        	<xsd:element name="Date" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGEXECUTION"
                type="e_prescr_exec:LIGEXECUTION_EXECEPRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="FACTURE" type="e_prescr_exec:FACTURE_EXECEPRESCR"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            
          
            
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FACTURE_EXECEPRESCR">
        <xsd:sequence>
        	<xsd:element name="Numero" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="FACTUREENVELOPPETECHNIQUE" type="e_prescr_exec:FACTUREENVELOPPETECHNIQUE_EXECEPRESCR" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FACTUREENVELOPPETECHNIQUE_EXECEPRESCR">
        <xsd:sequence>
            <xsd:element name="NumeroLot" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="DateCreationLot" type="xsd:date" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="NombreFacture" type="xsd:integer" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    
    <xsd:complexType name="LIGEXECUTION_EXECEPRESCR">
        <xsd:sequence>
        
        	<xsd:element name="Renouvellement" type="xsd:boolean" maxOccurs="1" minOccurs="0"></xsd:element>
           
            <xsd:element name="NbEltExec"
                type="xsd:string" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Note"
                type="xsd:string" maxOccurs="1" minOccurs="0">
            </xsd:element>
            
            <xsd:element name="LIGMEDICAMENTEUX" type="e_prescr_exec:LIGMEDICAMENTEUX_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGDISPOSITIFMEDICAL" type="e_prescr_exec:LIGDISPOSITIFMEDICAL_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGKINE" type="e_prescr_exec:LIGKINE_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGBIO" type="e_prescr_exec:LIGBIO_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGINFIRMIER" type="e_prescr_exec:LIGINFIRMIER_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGPEDICURE" type="e_prescr_exec:LIGPEDICURE_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGORTHOPHONISTE" type="e_prescr_exec:LIGORTHOPHONISTE_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="LIGORTHOPTISTE" type="e_prescr_exec:LIGORTHOPTISTE_EXECEPRESCR_EXEC" maxOccurs="1" minOccurs="0"></xsd:element>
           
          
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LIGORTHOPTISTE_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGORTHOPHONISTE_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGPEDICURE_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

	

    <xsd:complexType name="LIGINFIRMIER_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstBSI" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGBIO_EXECEPRESCR_EXEC">
		<xsd:sequence>
		    <xsd:element name="LOINCBIO" type="e_prescr_exec:LIGBIO_EXECEPRESCR_EXEC_LOINCBIO" 
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="HeurePrelevement" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	

    <xsd:complexType name="LIGBIO_EXECEPRESCR_EXEC_LOINCBIO">
        <xsd:sequence>

            <xsd:element name="CodeNABM" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Chapitre" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LibChapitre" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="SousChapitre" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LibSousChap" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Rang" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="CodeLOINC" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LibRef" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LibEdition" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="DateVal" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="VersionVP" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Statut" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            
            </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LIGKINE_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeDetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DetailExecution" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentaireAM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommentairePS" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGMEDICAMENTEUX_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="TypeEltPrescrit" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbreCond" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		    <!-- iciiii -->
			<xsd:element name="QteUnite" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CIP" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		    <xsd:element name="IDMVN" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Medicabase" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		    
			<xsd:element name="Molecules" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="DureeTraitement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
		    <xsd:element name="CommentairePM" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGDISPOSITIFMEDICAL_EXECEPRESCR_EXEC">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:integer" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			
			<xsd:element name="NbreCond" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="DureeLocationFacturee"
				type="xsd:integer" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="CodeLPP" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeACL" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeIndexACL7" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="CodeREF13" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeUDI" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="LibelleMarque" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="CodeAcquisition" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DureeTraitement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
    
</xsd:schema>
