CDA-FO-EPRESCRIPTION/Exemple/ep-med/ServiceAccueilEPrescription_EXP_1.2.5/ServiceAccueilEPrescription/xsd/serviceaccueilepre/AUX_e_prescr_CONTENUPRESCRIPTION_V01_02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:e_prescr="urn:ir:e_prescr" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ir:e_prescr">
    
    <xsd:annotation>
        <xsd:appinfo>
            <Build xmlns="urn:camelia:info" Generation="3" Host="P107501A239573S" Location="D:/IBM/rationalsdp7.0.5/workspace" Model="CONTENUPRESCRIPTION" Project="P2" Repository="X:\SRVDAIT\Patrimoine" Root="false" Time="20180424_130320" />
            <Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20180424_130321" Version="01.00" />
        </xsd:appinfo>
    </xsd:annotation>   
    
    <xsd:complexType name="CONTENUEPRESCRIPTION">
        <xsd:sequence>
            <xsd:element name="LIGMEDICAMENTEUX"
                type="e_prescr:LIGMEDICAMENTEUX_SE_CREEREPRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGDISPOSITIFMEDICAL"
                type="e_prescr:LIGDISPOSITIFMEDICAL_SE_CREEREPRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGKINE" type="e_prescr:LIGKINE_SE_CREEREPRESCR"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGBIO" type="e_prescr:LIGBIO_SE_CREEREPRESCR"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGINFIRMIER"
                type="e_prescr:LIGINFIRMIER_SE_CREEREPRESCR" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
          
            <xsd:element name="LIGPEDICURE"
                type="e_prescr:LIGPEDICURE_SE_CREEREPRESCR" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGORTHOPHONISTE"
                type="e_prescr:LIGORTHOPHONISTE_SE_CREEREPRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGORTHOPTISTE"
                type="e_prescr:LIGORTHOPTISTE_SE_CREEREPRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LIGORTHOPTISTE_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
		
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGORTHOPHONISTE_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGPEDICURE_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		

		</xsd:sequence>
	</xsd:complexType>

	

    <xsd:complexType name="LIGINFIRMIER_SE_CREEREPRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGBIO_SE_CREEREPRESCR">
		<xsd:sequence>			<xsd:element name="LOINCBIO"
                type="e_prescr:LOINCBIO_SE_CREEREPRESCR" maxOccurs="1"
                minOccurs="0">
            </xsd:element>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="FreqRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="AJeun" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>


			

		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="LOINCBIO_SE_CREEREPRESCR">
		<xsd:sequence>
		<xsd:element name="CodeNABM" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Libelle" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Synonyme" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Code" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="LibelleReference" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Order" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Nature" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Localisation" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Associe" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Valeurs" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DateValidation" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="VersionVP" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Statut" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>

    <xsd:complexType name="LIGKINE_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			

			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGMEDICAMENTEUX_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TypeEltPrescrit" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbConditionnement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CIP" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="IdMVN" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Medicabase" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		    <xsd:element name="Specialite" type="xsd:string"
		        maxOccurs="1" minOccurs="0">
		    </xsd:element>
		    
			<xsd:element name="Molecules" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="Duree" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Posologie" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonSub" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="MotifNonSub" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHorsAMM" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TrtAntiBio" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="RTU" type="xsd:boolean" maxOccurs="1"
				minOccurs="0">
			</xsd:element>

			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0"></xsd:element>
			<xsd:element name="CommentairePM" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGDISPOSITIFMEDICAL_SE_CREEREPRESCR">
		<xsd:sequence>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbConditionnement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DureeLocationLPP" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeLPP" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeACL" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeIndexACL7" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="CodeREF13" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeUDI" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="LibelleMarque" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="LibelleLPPLibre" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="DCM" type="xsd:string" maxOccurs="1"
				minOccurs="0"></xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
    
    
    </xsd:schema>
    