CDA-FO-EPRESCRIPTION/Exemple/ep-med/ServiceAccueilEPrescription_EXP_1.2.5/ServiceAccueilEPrescription/xsd/serviceaccueilepre/AUX_conseprescr_INFO_PRESCRIPTION_V01_04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:e_prescr_inf="urn:ir:e_prescr_inf" 
	xmlns:e_prescr_common_types="urn:ir:e_prescr_common_types"
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="urn:ir:e_prescr_inf">
    
    <xsd:annotation>
        <xsd:appinfo>
            <Build xmlns="urn:camelia:info" Generation="3" Host="P107501A239573S" Location="D:/IBM/rationalsdp7.0.5/workspace" Model="CONTENUPRESCRIPTION" Project="P2" Repository="X:\SRVDAIT\Patrimoine" Root="false" Time="20180424_130320" />
            <Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20180424_130321" Version="01.00" />
        </xsd:appinfo>
    </xsd:annotation>   
	
	
	<xsd:import namespace="urn:ir:e_prescr_common_types" schemaLocation="AUX_e_prescr_COMMON_TYPES_V01_00.xsd"/>
	
    
    <xsd:complexType name="INFOPRESCRIPTION_SE_ARCONSEPRESCR">
        <xsd:sequence>
        	<xsd:element name="VersionNorme" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
        	
            <xsd:element name="PRESCRIPTION"
                type="e_prescr_inf:PRESCRIPTION_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="PRESCRIPTEUR"
                type="e_prescr_inf:PRESCRIPTEUR_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="PATIENT" type="e_prescr_inf:PATIENT_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="EXECUTANT" type="e_prescr_inf:EXECUTANT_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1" minOccurs="0"></xsd:element>
        	
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="EXECUTANT_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
            <xsd:element name="Nom" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PRESCRIPTEUR_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
           
            <xsd:element name="IdentifiantRPPS" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="IdentifiantRPPSSecondaire" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Specialite" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Nom" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Prenom" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
           
           <xsd:element maxOccurs="1" 
          				minOccurs="0" name="Identifiant" 
          				type="e_prescr_inf:IdentiteString_PRESCRIPTEUR_SE_ARCONSEPRESCR">
          	</xsd:element>
            <xsd:element name="STS" type="e_prescr_inf:STS_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1"
                minOccurs="0">
            </xsd:element>
          	
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="STS_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
            <xsd:element maxOccurs="1" 
          				minOccurs="0" name="Identifiant" 
          				type="e_prescr_inf:IdentiteString_STS_SE_ARCONSEPRESCR_INF_PRESCR">
          	</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="IdentiteString_PRESCRIPTEUR_SE_ARCONSEPRESCR">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="R" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	 <xsd:complexType name="IdentiteString_STS_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="R" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
    
    
    <xsd:complexType name="PATIENT_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
            
            <xsd:element name="Prenom" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="DateNai" type="e_prescr_common_types:DateLunaire" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="Poids" type="xsd:decimal" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="Taille" type="xsd:integer" maxOccurs="1" minOccurs="0"></xsd:element>
            
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="PRESCRIPTION_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
            
            
            <xsd:element name="Numero" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Date" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Type" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            
            <xsd:element name="NbLignes" type="xsd:integer"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Consentement" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Domicile" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Urgence" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Militaire" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="DateHeureSouhaiteeActe" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="SousType" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            
            <xsd:element name="CONTENUPRESCRIPTION"
                type="e_prescr_inf:CONTENUPRESCRIPTION_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="1"
                minOccurs="0">
            </xsd:element>
            
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="CONTENUPRESCRIPTION_SE_ARCONSEPRESCR_INF_PRESCR">
        <xsd:sequence>
            <xsd:element name="LIGMEDICAMENTEUX"
                type="e_prescr_inf:LIGMEDICAMENTEUX_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGDISPOSITIFMEDICAL"
                type="e_prescr_inf:LIGDISPOSITIFMEDICAL_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGKINE" type="e_prescr_inf:LIGKINE_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGBIO" type="e_prescr_inf:LIGBIO_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGINFIRMIER"
                type="e_prescr_inf:LIGINFIRMIER_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
           
            <xsd:element name="LIGPEDICURE" type="e_prescr_inf:LIGPEDICURE_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="LIGORTHOPHONISTE"
                type="e_prescr_inf:LIGORTHOPHONISTE_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="LIGORTHOPTISTE"
                type="e_prescr_inf:LIGORTHOPTISTE_SE_ARCONSEPRESCR_INF_PRESCR" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LIGORTHOPTISTE_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
		
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGORTHOPHONISTE_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGPEDICURE_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	

    <xsd:complexType name="LIGINFIRMIER_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGBIO_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
            <xsd:element name="LOINCBIO" type="e_prescr_inf:LIGBIO_SE_ARCONSEPRESCR_INF_PRESCR_LOINCBIO" 
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="FreqRenouv" type="xsd:integer"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="AJeun" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="LIGBIO_SE_ARCONSEPRESCR_INF_PRESCR_LOINCBIO">
        <xsd:sequence>

            <xsd:element name="CodeNABM" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Libelle" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Synonyme" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Code" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="LibelleReference" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Order" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Nature" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Localisation" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Associe" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Valeurs" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="DateValidation" type="xsd:dateTime"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="VersionVP" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Statut" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            
            </xsd:sequence>
    </xsd:complexType>
    
    

    <xsd:complexType name="LIGKINE_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Detail" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHN" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGMEDICAMENTEUX_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TypeEltPrescrit" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbConditionnement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		  
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CIP" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="IDMVN" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Medicabase" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		    <xsd:element name="Specialite" type="xsd:string"
		        maxOccurs="1" minOccurs="0">
		    </xsd:element>
		    
			<xsd:element name="Molecules" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

			<xsd:element name="Duree" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Posologie" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonSub" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="MotifNonSub" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstHorsAMM" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TrtAntiBio" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="RTU" type="xsd:boolean" maxOccurs="1"
				minOccurs="0">
			</xsd:element>

		    <xsd:element name="CommentairePM" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="LIGDISPOSITIFMEDICAL_SE_ARCONSEPRESCR_INF_PRESCR">
		<xsd:sequence>
			
			<xsd:element name="NumLigne" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NbConditionnement" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DureeLocationLPP" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="NbRenouv" type="xsd:integer"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportALD" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstEnRapportAccident"
				type="xsd:boolean" maxOccurs="1" minOccurs="0">
			</xsd:element>
			
			<xsd:element name="EstEnRapportPrev" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EstNonRemb" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeLPP" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeACL" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeIndexACL7" type="xsd:string"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
			<xsd:element name="CodeREF13" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CodeUDI" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		    
		    <xsd:element name="LibelleLPPLibre" type="xsd:string"
		        maxOccurs="1" minOccurs="0">
		    </xsd:element>
		    
			<xsd:element name="LibelleMarque" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
    
    
    </xsd:schema>
    